@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

#bp-scroll-hide::-webkit-scrollbar {
    display: none;
  }

.spin{
  animation: spin 1.2s linear infinite;
}

@keyframes spin{
  from {
    transform: rotate(0deg);
  }
  to{
    transform: rotate(350deg);
  }
}